# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
include/ppddl/mdpsim/*
include/ppddl/mini-gpt/*
!include/ppddl/mdpsim/actions.h
!include/ppddl/mdpsim/effects.h
lib/*
testgw
testctp
testb2t
testppddl
testconc
testsail
testrace
runsail.sh
*.txt
data/*
experiments/*
mdp-lib.layout
